{# Django Model Template #}
from django.db import models
{% if with_uuid %}
import uuid
{% endif %}
{% if with_timestamps or with_soft_delete %}
from django.utils import timezone
{% endif %}
from django.urls import reverse


class {{ model_name }}(models.Model):
    """{{ docstring or model_name + ' model.' }}"""
    
{% if with_uuid %}
    id = models.UUIDField(primary_key=True, default=uuid.uuid4, editable=False)
{% endif %}
{% for field in fields %}
    {{ field.name }} = models.{{ field.type }}({{ field.args }})
{% endfor %}
{% if with_timestamps %}
    created_at = models.DateTimeField(auto_now_add=True)
    updated_at = models.DateTimeField(auto_now=True)
{% endif %}
{% if with_soft_delete %}
    is_deleted = models.BooleanField(default=False)
    deleted_at = models.DateTimeField(null=True, blank=True)
{% endif %}

    class Meta:
{% if ordering %}
        ordering = {{ ordering }}
{% endif %}
        verbose_name = "{{ model_name|verbose }}"
        verbose_name_plural = "{{ model_name|verbose|pluralize }}"

    def __str__(self):
        return str(self.{{ str_field }})

    def get_absolute_url(self):
        return reverse("{{ app_name }}:{{ model_name|snake_case }}_detail", kwargs={"pk": self.pk})
{% if with_soft_delete %}

    def soft_delete(self):
        """Soft delete this instance."""
        self.is_deleted = True
        self.deleted_at = timezone.now()
        self.save(update_fields=['is_deleted', 'deleted_at'])

    def restore(self):
        """Restore a soft-deleted instance."""
        self.is_deleted = False
        self.deleted_at = None
        self.save(update_fields=['is_deleted', 'deleted_at'])
{% endif %}
